NewSolution_1_0_0_1_managed/Workflows/ForgotPassword-F6952A0B-E0D1-EF11-A72E-7C1E523D86FE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "rc_Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ppl_sharedoffice365_ff606"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "1d952659-97ca-4503-a100-66004a248589"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ppl_username",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ppl_changepassword"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Send_an_email_(V2)": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "91f7d8f8-9763-4c59-8758-aa0181192a6b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@triggerOutputs()?['body/ppl_emailid']",
              "emailMessage/Subject": "Request for password change !",
              "emailMessage/Body": "<p>Hello @{triggerOutputs()?['body/ppl_fullname']},<br>\n<br>\nPlease use below code to verify you password change request :<br>\n@{variables('code')}.<br>\n<br>\nRegards,<br>\n<em><strong>Quick Orders</strong></em></p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Send_an_email_(V2)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "700a6cc3-99bc-4c8d-8159-321027751647"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ppl_usernames",
              "recordId": "@triggerOutputs()?['body/ppl_usernameid']",
              "item/ppl_verifycode": "@variables('code')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2b9b207b-619e-4d2b-bcfe-ceb4b6ee8492"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "code",
                "type": "integer",
                "value": "@rand(100000,999999)"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}