NewSolution_1_0_0_1_managed/Workflows/OrderDetails-520EE946-C5D0-EF11-A72E-7C1E523D86FE.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ppl_sharedonedriveforbusiness_bb183"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      },
      "shared_office365": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ppl_sharedoffice365_ff606"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3de38270-a617-4fa1-adf2-1948c2f8eeb2"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "order details",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "address",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "vendor detail",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "payment type",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Create_HTML_table": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "239bbec8-cdea-453a-bb55-2b4bd180c757"
          },
          "type": "Table",
          "inputs": {
            "from": "@json(triggerBody()['text'])",
            "format": "HTML"
          }
        },
        "Create_file_in_One_Drive": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e98bfb08-0b98-4508-9ab8-06134f48f7c4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/",
              "name": "Order Details.html",
              "body": "@outputs('Compose')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Convert_file_to_pdf": {
          "runAfter": {
            "Create_file_in_One_Drive": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd8e5a94-b279-4f90-a225-e13b4c5ea9b2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "ConvertFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "id": "@outputs('Create_file_in_One_Drive')?['body/Id']",
              "type": "PDF"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Convert_file_to_pdf": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d08ea70-ab93-4b63-9329-ae9b6bae0956"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@split(triggerBody()['text_2'],'-')[8]",
              "emailMessage/Subject": "Your order details from - \" @{split(triggerBody()['text_2'],'-')[6]} \".",
              "emailMessage/Body": "<p><span style=\"font-family: georgia\"><em>Hello </em></span><span style=\"font-family: georgia\"><em>@{split(triggerBody()['text_2'], '-')[7]}</em></span><span style=\"font-family: georgia\"><em>,<br>\n<br>\nThank you for your order. It will be delivered to you in short time.<br>\nPlease find the details of your order in the attached file.<br>\n</em></span><span style=\"font-family: georgia\"><em></em></span><span style=\"font-family: georgia\"><em><br>\n<br>\n</em></span><span style=\"font-size: 12px; font-family: georgia\"><em><strong>Warm Regards</strong></em></span><span style=\"font-family: georgia\"><em>,<br>\n</em></span><span style=\"font-family: georgia\"><em>@{split(triggerBody()['text_2'], '-')[6]}</em></span><span style=\"font-family: georgia\"><em></em></span></p>",
              "emailMessage/Bcc": "pg7512@TCSS966.onmicrosoft.com",
              "emailMessage/Attachments": [
                {
                  "Name": "@outputs('Convert_file_to_pdf')?['headers/x-ms-file-name']",
                  "ContentBytes": "@body('Convert_file_to_pdf')"
                }
              ],
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Create_HTML_table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c1ea737f-1b06-4862-a640-b61a98d9713c"
          },
          "type": "Compose",
          "inputs": "<style>\ntable{ border-collapse: separate; border-spacing: 0; border: 1px solid black; border-radius: 10px; overflow: hidden; width: 100%; }\nth, td { border: 1px solid black; padding: 10px; text-align: left; }\nth { background-color: #3493E6;  }\nth:first-child, td:first-child { border-left: none; }\nth:last-child, td:last-child { border-right: none; }\nhtml, body {\n  height: 100%;\n  width: 100%;\n  box-sizing: border-box;\n}\nbody {\n  border: 3px solid black;\n  padding: 90px;\n  margin: 0;\n  box-sizing: border-box;\n}\n</style>\n\n<h1 style=\"text-align: center;\">Welcome to - <b style=\"font-size: 35px; color: green; font-weight: bold;\">@{split(triggerBody()['text_2'],'-')[6]}</b></h1><br>\n\nWe hope you have enjoyed ordering here. Please find the details of your order below.<br><br>\n@{body('Create_HTML_table')}<br><br>\n<table style=\"width: 50%;\">\n<tr>\n<td><b>Total Price (Rs) : </b></td><td>@{split(triggerBody()['text_2'],'-')[1]}</td>\n</tr>\n<tr>\n<td><b>Tax & other charges  : </b></td><td>@{split(triggerBody()['text_2'],'-')[2]}</td>\n</tr>\n<tr>\n<td><b>Delivery charges  : </b></td><td>@{split(triggerBody()['text_2'],'-')[3]}</td>\n</tr>\n<tr>\n<td><b>Discount : </b></td><td>@{split(triggerBody()['text_2'],'-')[4]}</td>\n</tr>\n<tr>\n<td><b>Final Price (Rs) : </b></td><td>@{split(triggerBody()['text_2'],'-')[5]}</td>\n</tr>\n</table>\n<br><br>\n\n<b style=\"font-size: 20px; color: red;\">Delivery Address : </b><br><br>\n@{split(triggerBody()['text_1'],', ')[0]},<br>\n@{split(triggerBody()['text_1'],', ')[1]},@{split(triggerBody()['text_1'],', ')[2]}<br>\n@{split(triggerBody()['text_1'],', ')[3]}, @{split(triggerBody()['text_1'],', ')[4]}<br><br>\n<b style=\"font-size: 20px; color: red;\">Payment : </b>@{if( greater(length(triggerBody()['text_3']),0),'Cash on Delivery','Paid')}.<br><br>\nThank you for ordering from <b style=\"color: green;\">@{split(triggerBody()['text_2'],'-')[6]}</b>.<br><br><br>\n<b style=\"font-size: 50px; color: green; font-weight: bold;\">Please visit us again.</b>"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}